<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Dashboard</title>
</head>
<body>
    <form action="backend.php">
        <div>
           Email-ID <input type="email" name="" id="">
        </div>
        <br>
        <div>
           Host-Password: <input type="password" name="" id="">
        </div>
        <br>
        <div>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
    <a href="/">Back to homepage</a>
</body>
</html>