<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event registration</title>
</head>

<body>
    <form action="backend.php">
        <label for="name">Name:</label>
        <div>
            <input type="text" name="My_name" id="name">
        </div>
        <br>
        <label for="phone">Contact No.:</label>
        <div>
            <input type="number" name="phone_number" id="phone">
        </div>
        <br>
        <label for="email_ID"> Email ID:</label>
        <div>
            <input type="email" name="Myemail" id="email_ID">
        </div>
        <div>
           Event:<input type="radio" name="" id="">test1
           <input type="radio" name="" id="">test3
           <input type="radio" name="" id="">test3
        </div>
        <br>
        <div>
            Registration-Type: <input type="radio" name="individual" id="">Individual
            <input type="radio" name="group" id="">Group
        </div>
        <br>
        <div>
            <input type="number" name="NoOfPeople" id="">
        </div>
        <br>
        <div>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>

    </form>
    <br>
    <a href="/">Back to homepage</a>
</body>

</html>